{
  "nick": "MyBot",
  "realname": "Botty",
  "server": {
    "address": "ssl.efnet.org",
    "port": "6697",
    "tls": true,
    "channels": [
      "#navytrap"
    ]
  },
  "apiauth":{
    "test": "test"
  }
}
